[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
tox = "*"
pytest = "*"

[packages]
pyaml = "*"
confluent-kafka = {extras = ["avro"],version = "*"}
dataclasses-avroschema = "*"
dacite = "*"

[requires]
python_version = "3.7"
